section:nth-of-type(1) { margin-top:60px; } 

/* 	ABOUT SECTION 	*/
section.about { height:650px;  
	background-image:url('../_imgs/banner.jpg'); 
	background-size:cover; 
	background-position:center center; }

	section.about content {  } 

	section.about content .play-button { display:block; 
		height:280px; }

	section.about content .text#intro-text { display:block; 
		position:absolute; 
		left:50%; 
		margin-left:-300px; 
		width:600px; 
		color:#fff; 
		line-height:28px; 
		letter-spacing:1px; }

/* 	INTERNSHIP SECTION 	*/
/* 	COMPANIES SECTION 	*/
section.companies { background-color:#363636; 
	height:192px; 
	padding:0px; } 
	
	section.companies content { padding:0px; } 

	section.companies content .label { display:table-cell; 
		width:100px; 
		height:192px; 
		font-family:Lucida Grande, Arial; 
		font-size:14px; 
		vertical-align:middle; 
		padding:0px 50px 0px 50px; }
	section.companies content .logos { display:table-cell; 
		width:800px; height:192px; 
		border-left:1px solid #444; }

		section.companies content .logos li.logo { display:inline-block; 
			width:120px; height:120px; 
			margin-top:36px; 
			list-style:none; 
			background-position:center center; }

			li.logo#ut { background-image:url('../_imgs/logos/ut.png'); }
			li.logo#frog { background-image:url('../_imgs/logos/frog.png'); }
			li.logo#mutual { background-image:url('../_imgs/logos/mutual.png'); }
			li.logo#myedu { background-image:url('../_imgs/logos/myedu.png'); 
				width:200px; }
			li.logo#hack { background-image:url('../_imgs/logos/hack.png'); }

/* 	APPLY SECTION 	*/
/* 	PROJECT SECTION 	*/
section.projects { height:640px; }

	section.projects .banner { position:relative; overflow:auto; }
		section.projects .banner li { list-style:none; display:table-cell; }
		section.projects .banner ul li { float:center; 
			background-size:cover; 
			background-repeat:no-repeat; 
			background-position:center center; }

	section.projects .project-content { padding-top:200px }

		section.projects .project-content p { font-size:14pt; 
			font-weight:normal; 
			letter-spacing:1px; 
			line-height:30px; 
			padding-top:30px; }

		section.projects .project-content h1, 
		section.projects .project-content p { width:600px; 
			text-align:center; }

	section.projects .dots { z-index:998; 
		position:absolute; 
		left:50%; } 

		section.projects .dots li.dot { 
			display:inline-block; 
			width:6px; 
			height:6px; 
			margin:0px 6px; 
			padding:0px; 
			text-indent:-999em; 
			border:2px solid #fff; 
			border-radius:4px; 
			cursor:pointer; 
			opacity:.4; }
		section.projects .dots li.dot.active {
			background-color:#fff; 
			opacity:1; }

	section.projects .arrow { display:block; 
		width:55px; 
		height:120px; 
		background-position:0px 0px; 
		background-repeat:no-repeat; 
		position:absolute; 
		cursor:pointer; 
		z-index:899; }

		section.projects .arrow:hover { background-position:0px -120px; }
		section.projects .arrow:active { background-position:0px -240px; }

		.arrow#right { right:50px; 
			background-image:url('../_imgs/arrow_right.png'); }
		.arrow#left { left:50px; 
			background-image:url('../_imgs/arrow_left.png'); }

/* 	STAFF SECTION 	*/
/* 	FOOTER SECTION 	*/
section.footer { background-color:#252525; } 