section:nth-of-type(1) { margin-top:60px; } 

/* CTLUT LOGO SECTION */ 
section.utctl { height:80px; 
	background-image:url('../_imgs/bg_block_grad.png'); 
	background-repeat:repeat-x; 
	/*border:1px solid red;*/ } 

	section.utctl content { padding:0px; 
		text-align:right; }

	section.utctl .small_logo { display:inline-block; 
		width:170px; height:80px; 
		background-position:center center; }
		section.utctl .small_logo#sm-ut { background-image:url('../_imgs/logo_ut_small.png'); } 
		section.utctl .small_logo#sm-ctl { background-image:url('../_imgs/logo_ctl_small.png'); } 

/* 	ABOUT SECTION 	*/
section.about { height:730px;  
	background-image:url('../_imgs/banner.jpg'); 
	background-size:cover; 
	background-position:center center; }

	section.about content {  } 

	section.about content .play-button { display:block; 
		height:280px; }

	section.about content .text#intro-text { display:block; 
		position:absolute; 
		left:50%; 
		margin-left:-320px; 
		width:600px; 
		color:#fff; 
		line-height:28px; 
		letter-spacing:1px; 
		/*border:1px solid red; */
		padding:20px; 
		background-image:url('../_imgs/about_gradient.png'); 
		background-repeat:no-repeat; 
		background-position:center top; }

	section.about content .overlay { width:600px; 
		margin-top:30px; 
		height:20px; 
		vertical-align:middle;
		padding:25px 0px; 
		font-size:18pt; 
		background-color:rgba(0,0,0,.6); }

		section.about .overlay #top-date {
			color:#6cbafd; 
			font-weight:bold; 
			font-size:22pt; }

/* 	INTERNSHIP SECTION 	*/
section.internship { height:810px; 
	background-image:url('../_imgs/students2.png'); 
	background-repeat:no-repeat; 
	background-position:560px 100px; }

	section.internship .description { display:inline-block; 
		/*border:1px solid red; */
		width:500px; 
		padding:15px; /* 89px; */
		float:left; 
		text-align:left; 
		line-height:30px; }

		section.internship .description p { padding:20px 0px; }
		section.internship .description .calendar { 
			text-align:center; }

			section.internship .calendar #mark { display:block; 
				width:250px; 
				margin:auto; 
				border-bottom:1px solid #444; }
			section.internship .calendar table { margin:10px auto; 
				padding-left:5px; }
			section.internship .calendar #date { display:table-cell; 
				font-size:32pt; } 
			section.internship .calendar #time { display:block; 
				color:#ddd; 
				line-height:12px; 
				margin-top:8px; }
			section.internship .calendar #location { display:block; 
				color:#51a1d6; }


/* 	COMPANIES SECTION 	*/
section.companies { background-color:#363636; 
	height:330px; /*192px; */
	padding:0px; 
	box-shadow:0px 20px 10px #000; } 
	
	section.companies content { padding:0px; } 

	section.companies content h1 { font-size:20pt; 
		padding:30px 0px 20px 0px; }

	section.companies content .label { display:table-cell; 
		display:none; 
		width:100px; 
		height:192px; 
		font-family:Lucida Grande, Arial; 
		font-size:14px; 
		vertical-align:middle; 
		padding:0px 50px 340px 50px; }
	section.companies content .logos { display:table-cell; 
		width:1000px; height:530px; /*192px; */
		position:absolute; 
		left:50%; margin-left:-500px; 
		/*border-left:1px solid #444;*/ }

		section.companies content .logos li.logo { display:inline-block; 
			/*width:120px;*/ height:80px; width:125px; 
			/*margin-top:16px; */
			list-style:none; 
			background-position:center center; }

			li.logo#ut { background-image:url('../_imgs/logos/ut.png'); }
			li.logo#frog { background-image:url('../_imgs/logos/frog.png'); }
			li.logo#mutual { background-image:url('../_imgs/logos/mutual.png'); }
			li.logo#myedu { background-image:url('../_imgs/logos/myedu.png'); 
				/*width:200px;*/ }
			li.logo#hack { background-image:url('../_imgs/logos/hack.png'); } 

			li.logo#four { background-image:url('../_imgs/logos/4kitchens.png'); }
			li.logo#artsnlabor { background-image:url('../_imgs/logos/artsnlabor.png'); 
				/*width:160px;*/ }
			li.logo#enspire { background-image:url('../_imgs/logos/enspire.png'); }
			li.logo#houndstooth { background-image:url('../_imgs/logos/houndstooth.png'); }
			li.logo#return { background-image:url('../_imgs/logos/returnpath.png'); 
				/*width:200px;*/ }
			li.logo#thirteen { background-image:url('../_imgs/logos/thirteen23.png'); }
			li.logo#utcofa { background-image:url('../_imgs/logos/utcofa.png'); }
			li.logo#utlibarts { background-image:url('../_imgs/logos/utlibarts.png'); }
			li.logo#utlibs { background-image:url('../_imgs/logos/utlibs.png'); }
			li.logo#dmi { background-image:url('../_imgs/logos/dmi.png'); } 

/* 	APPLY SECTION 	*/
section.apply { height:440px; 
	background-color:#262626; } 
	
	section.apply #deadline { color:#ddd; }

	section.apply .description { display:inline-block; 
		width:320px; 
		padding:15px 89px; 
		margin:30px 0px; 
		float:left; 
		font-size:10pt; }

		section.apply .description:nth-of-type(1) { 
			border-right:1px solid #444; }

		section.apply .button { display:block; 
			width:220px; 
			height:70px; 
			background-color:#06f; 
			text-align:center; 
			border:1px solid #06f; 
			border-radius:10px; 
			background:-webkit-linear-gradient(#4aa0da,#026eb7); 
			margin:30px auto; 
			cursor:pointer; 
			-webkit-touch-callout: none; 
			-webkit-user-select:none; 
			-khtml-user-select:none; 
			-moz-user-select:none; 
			-ms-user-select:none; 
			user-select:none; } 
			section.apply .button:hover { 
				background:-webkit-linear-gradient(#5bb1eb,#137fc8); }
			section.apply .button:active { 
				border:1px solid #04e; 
				background:-webkit-linear-gradient(#3990c9,#015da6); }

/* 	PROJECT SECTION 	*/
section.projects { height:640px; 
	-webkit-touch-callout: none; 
	-webkit-user-select:none; 
	-khtml-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select:none; 
	user-select:none; }

	section.projects .banner { position:relative; overflow:auto; }
		section.projects .banner li { list-style:none; display:table-cell; }
		section.projects .banner ul li { float:center; 
			background-size:cover; 
			background-repeat:no-repeat; 
			background-position:center center; }

	section.projects .project-content { padding-top:200px }

		section.projects .project-content p { font-size:14pt; 
			font-weight:normal; 
			letter-spacing:1px; 
			line-height:30px; 
			padding-top:30px; }

		section.projects .project-content h1, 
		section.projects .project-content p { width:600px; 
			text-align:center; }

	section.projects .dots { z-index:998; 
		position:absolute; 
		left:50%; } 

		section.projects .dots li.dot { 
			display:inline-block; 
			width:6px; 
			height:6px; 
			margin:0px 6px; 
			padding:0px; 
			text-indent:-999em; 
			border:2px solid #fff; 
			border-radius:4px; 
			cursor:pointer; 
			opacity:.4; }
		section.projects .dots li.dot.active {
			background-color:#fff; 
			opacity:1; }

	section.projects .arrow { display:block; 
		width:55px; 
		height:120px; 
		background-position:0px 0px; 
		background-repeat:no-repeat; 
		position:absolute; 
		cursor:pointer; 
		z-index:899; }

		section.projects .arrow:hover { background-position:0px -120px; }
		section.projects .arrow:active { background-position:0px -240px; }

		.arrow#right { right:50px; 
			background-image:url('../_imgs/arrow_right.png'); }
		.arrow#left { left:50px; 
			background-image:url('../_imgs/arrow_left.png'); }

/* 	STAFF SECTION 	*/
section.staff { height:790px; } 

	section.staff h1 { padding-top:20px; }

	section.staff ul { display:table-cell; 
		padding-top:20px; }
	section.staff ul li { display:inline-block; 
		list-style-type:none; 
		text-align:center; 
		width:150px; 
		margin:30px 15px; } 

		section.staff ul li div { 
			display:block; 
			width:120px; height:120px; 
			margin:15px; 
			background-size:cover; 
			background-repeat:no-repeat; 
			background-position:center center; 
			border-radius:120px; 
			border:4px solid #fff; 
			box-shadow:0px 0px 10px #111; } 
		section.staff ul li p { 
			width:120px; 
			margin:0px 15px; 
			margin-left:20px; 
			text-align:center; } 

	section.staff a { color:#666; } 
	section.staff a:hover { color:#ccc; 
		text-shadow:0px 0px 10px #09f; }

/* 	FOOTER SECTION 	*/
section.footer { height:300px; 
	font-size:9pt; 
	background-color:#252525; } 

	section.footer .logo { display:block; 
		width:300px; 
		height:80px; 
		background-position:center center; 
		background-repeat:no-repeat; }

		section.footer .logo#ctl { background-image:url('../_imgs/logos/ctl.png'); }
		section.footer .logo#ut2 { background-image:url('../_imgs/logos/ut2.png'); }

	section.footer ul, 
	section.footer ul li { list-style:none; 
		list-style-type:none; }

	section.footer a { color:#08f; }
	section.footer a:hover { color:#2af; }
