section:nth-of-type(even) { background-image:url('../_imgs/bg_block.png'); } 
section:last-of-type { background-image:url(''); } 
section { background-repeat:repeat; }

.banner { display:table-cell; 
	width:350px; 
	background-size:cover; 
	background-position:center center; 
	vertical-align:top; 
	text-align:left; 
	padding-top:20px; } 

	.banner h1 { font-size:22pt; 
		line-height:38px; 
		padding-bottom:14px; 
		margin-bottom:20px; 
		border-bottom:1px solid #333; } 
	.banner p { color:#ccc; }

.project-content { display:table-cell; 
	width:600px; 
	font-size:14pt; 
	text-align:left; 
	vertical-align:top; 
	padding:10px; 
	padding-left:30px; } 

	.project-content .screenshot { padding-bottom:20px; }

		.project-content .screenshot img { 
			display:block; 
			width:600px; 
			margin-bottom:5px; 
			border:5px solid #fff; }

		.project-content .screenshot .caption { 
			display:block; 
			font-family:Lucida Grande,Arial; 
			font-style:italic; 
			font-weight:normal; 
			font-size:9pt; 
			color:#777; 
			padding:0px 20px; }

		.project-content .screenshot .thumbnail { 
			display:block; 
			cursor:pointer; 
			background-position:0px 0px; 
			width:600px; } 

		.thumbnail#ctp1 { height:375px; 
			background-image:url('../_imgs/projects/ctp/vid1.jpg');
			border:5px solid #fff; }
		.thumbnail#ctp1:hover { background-position:0px -375px; }
